<!DOCTYPE html>
<html>
<head>
	<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
	<title>XanOS</title>
	<style type="text/css">
		
		html, body{
			margin: 0;
			overflow-x: hidden;
		}

		.header{
			background: #13171c;
			padding-top: 24px;
			padding-bottom: 24px;
		}

		.header-title{
			margin-left: 20px;
			color: #fff;
			font-size: 32px;
			font-family: 'Raleway', sans-serif;
		}

	</style>
</head>
<body>
<div class="header">
	<div class="header-title">XanOS</div>
</div>
{% block content %}
{% endblock %}
</body>
</html>